<h1>Editing book:</h1>

<%= form_for(@book) do |book| %>


    <%= render(partial: 'form', locals: {book: book}) %>
    <div class="text-center">
      <%= book.submit("UpdateBook", :class => "btn btn-primary") %>
    </div>
    </form>
<% end %>