<h1 class="text-center myh1">Create book:</h1>

<%= form_for @book, html: { multipart: true } do |book| %> 
  
  <%= render(partial: 'form', locals: {book: book}) %>

  <div class="text-center">
   <%= book.submit("Crate Book", :class => "btn btn-primary") %>
  </div>
</form>
	<% end %>
